@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: #AAA;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    color: #FFF;
}

h1{
    color: #6a6a6a;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

main{

    margin: 0 auto;
}

.card{
    height: 40vh;
    width: 15vw;
    margin: 0 auto;
    text-align: center;
    border: solid 2px #000;
    border-radius: .5em;
}


/* Background Pokemon Types */
.normal { background-color: #A8A77A;}
.fire { background-color: #EE8130;}
.water { background-color: #6390F0;}
.electric { background-color: #F7D02C;}
.grass { background-color: #7AC74C;}
.ice { background-color: #96D9D6;}
.fighting { background-color: #C22E28;}
.poison { background-color: #A33EA1;}
.ground { background-color: #E2BF65;}
.flying { background-color: #A98FF3;}
.psychic { background-color: #F95587;}
.bug { background-color: #A6B91A;}
.rock { background-color: #B6A136;}
.ghost { background-color: #735797;}
.dragon { background-color: #6F35FC;}
.dark { background-color: #705746;}
.steel { background-color: #B7B7CE;}
.fairy { background-color: #D685AD;}


.top_card{
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    margin: 0 .5em 0 .5em;
}
.img_card{
    background-color: #FFF;
    background-image: url(../img/bg-pokemon.jpg);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 65%;
    border-radius: .5em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 8em;
}
h3{
    font-weight: 300;
    font-size: 1.5em;
}
.info_card{
    margin-top: .5em;
}

.search__pokemon{
    margin: 0 auto;
    text-align: center;
}
.search__pokemon input{
    margin: .5em 0 .5em 0;
    width: 10vw;
}